@(userForm: Form[User])
@import views.html.helper.CSRF
<html>
    <head>
        <title>Edit User</title>
    </head>
    <body>
        <h1>Edit User</h1>
        @helper.form(action = routes.UserController.update()){
            @helper.inputText(userForm("email"))
            @helper.inputText(userForm("password"))
            @helper.inputText(userForm("name"))
            @helper.inputText(userForm("profilePic"))
            @helper.inputText(userForm("statistics"))
            @helper.inputText(userForm("bio"))
            <input type="submit" value="Edit User">
            }
    </body>
</html>