@(userForm: Form[User], flash: play.mvc.Http.Flash)
@layout("Softytest"){
    <div class="py-5 gradient-overlay">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3 text-white">
                    <img class="img-fluid d-block mx-auto mb-5" src="@routes.Assets.at("logo.png")"> </div>
                <div class="col-md-9 text-white align-self-center">
                    <h1 class="display-3 mb-4">Softytest</h1>
                    <p class="lead mb-5">You can find out your weaknesses and strengths here.
                        <br> </p>
                </div>
            </div>
            <div class="py-5">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#login" class="active nav-link" data-toggle="tab">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#signup" data-toggle="tab">Sign Up</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane active" id="login">
                                <form name = "login" class="" method="post" action="@routes.UserController.authenticate()">
                                    <div class="form-group"> <label>Email address</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email"> </div>
                                    <div class="form-group"> <label>Password</label>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Password"> </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="signup">
                                <form name = "signup" class="" method="post" action="@routes.UserController.save()" onsubmit="return signUpFormValidation()">
                                    <div class="form-group"> <label>Email address</label>
                                        <input type="email" name="emailSave" class="form-control" placeholder="Enter email"> </div>
                                    <div class="form-group"> <label>Password</label>
                                        <input type="password" name="passwordSave" class="form-control" placeholder="Password"> </div>
                                    <div class="form-group"> <label>Confirm Password</label>
                                        <input type="password" name="conpassword" class="form-control" placeholder="Confirm Password"> </div>
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}