@(question: MultipleChoice, index: Integer)
<div class="py-2 my-3">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <h1>Question @index</h1>
                <pre style="color: #ffffff">@question.questionContent</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="@routes.TestController.checkAnswerMultiple(question.id)" method="post" target="hiddenIframe">
                    <input type="radio" name="choice" value="@question.choice1">@question.choice1
                    <br>
                    <input type="radio" name="choice" value="@question.choice2">@question.choice2
                    <br>
                    <input type="radio" name="choice" value="@question.choice3">@question.choice3
                    <br>
                    <input type="radio" name="choice" value="@question.choice4">@question.choice4
                    <br>
                    <button type="submit" class="btn-primary text-right btn btn-sm py-2 my-2" href="">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<iframe name="hiddenIframe" id="hiddenIframe" src="" style="width:0;height:0;border:0; border:none;"></iframe>