@(questions: List[Question], timeToSolve: Integer)
@layout("Softytest"){
    <script src="@routes.Assets.versioned("javascripts/textareaTabs.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/parseOutput.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/textareaAuto.js")"></script>
    <script>
            $(function(){
                $('.normal').autosize();
                $('.animated').autosize({append: "\n"});
            });
    </script>
    <script src="@routes.Assets.versioned("javascripts/timer.js")"></script>

    <div>Time left = <span id="time">20:00</span></div>

    @for((question, index) <- questions.zipWithIndex){
        @if(question.getClass().getName().contains("Coding")){
            @codingQuestionView(question.asInstanceOf[CodingQuestion], index+1)
        }
        @if(question.getClass().getName().contains("Multiple")){
            @multipleQuestionView(question.asInstanceOf[MultipleChoice], index+1)
        }
    }

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right py-2">
                <form action="@routes.TestController.showResult()" method="GET">
                    <button type="submit" class="btn-primary text-right btn px-4" href="">Finish Test</button>
                </form>
            </div>
        </div>
    </div>
}